/* styles.css */

/* تخطيط الجسم */
body {
  display: flex;
  flex-direction: column;
}

/* تخطيط المحتوى الرئيسي */
main {
  display: flex;
  flex: auto;
}

article {
  flex: 2;
  overflow-y: auto; /* تمكين التمرير العمودي */
}

aside {
  flex: 1;
  overflow-y: auto; /* تمكين التمرير العمودي */
}

/* تخطيط الرأس والتذييل */
header, footer {
  text-align: center;
}

/* إضافات مرونة */
.works_on_smartphone {
  flex-direction: column; /* لمحاذاة العناصر عموديًا */
}

/* تنسيق الجدول */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #2b2d42;
  color: white;
}

